@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Times, serif;
    background-color: #f1faee;
    width: 100%;
    margin: 0 auto;
}


/* Header */

header {
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
    height: 10vh;
    padding: 1em 0 1em 0;
    background: linear-gradient(90deg, #1d3557, #5da8e6);
    color: white;
    align-items: center;
}

.logo {
    margin-left: 2em;
}

.logo a {
    text-decoration: none;
    color: white;
}

.date {
    margin-right: 2em;
}


/* Navigation */

nav ul {
    list-style: none;
}

nav ul li {
    border: 1px solid black;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 2em;
    height: 5vh;
    display: grid;
    align-items: center;
    background: linear-gradient(90deg, #1d3557, #5da8e6);
    border-radius: 20px;
}

nav ul li:hover {
    background-color: rgb(24, 110, 168);
}

nav ul li a {
    color: white;
    text-decoration: none;
    width: 100%;
}


/* Main */

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    margin: 0 auto;
    gap: 2em;
    min-height: 80vh;
}

.intro {
    width: 80%;
}

.left {
    text-align: center;
    padding-top: 2em;
    background-color: #a8dadc;
}

.right {
    padding: 1em;
    line-height: 1.2em;
    letter-spacing: 0.01em;
    font-size: 1.1em;
    font-weight: 400;
}

.right h2 {
    margin-bottom: 1em;
}

.courses {
    margin-top: .5em;
    margin-left: 2em;
}

.courses li {
    margin-bottom: .3em;
}

.mondayCheck,
.dateTime {
    margin: .5em 0 .5em 0;
}


/* Style for clock */

.clock {
    margin: 2em 0;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/clock.png);
    background-size: cover;
    border: 4px solid #091921;
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05), inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 -15px 15px rgba(0, 0, 0, 0.3), inset 0 -15px 15px rgba(0, 0, 0, 0.3);
}

.clock:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #000;
    border-radius: 50%;
    z-index: 10000;
}

.clock .hour,
.clock .min,
.clock .sec {
    position: absolute;
}

.clock .hour,
.hr {
    width: 100px;
    height: 100px;
}

.clock .min,
.mn {
    width: 130px;
    height: 130px;
}

.clock .sec,
.sc {
    width: 160px;
    height: 160px;
}

.hr,
.mn,
.sc {
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50px;
}

.hr:before {
    content: '';
    position: absolute;
    width: 6px;
    height: 50px;
    background: #ff105e;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}

.mn:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 60px;
    background: #1d3557;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}

.sc:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 80px;
    background: #1d3557;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}


/* Om-sidan */

img {
    max-width: 60%;
    height: auto;
}


/* Footer */

footer {
    display: grid;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    height: 10vh;
    align-items: center;
    background: linear-gradient(90deg, #c70313, #e4e4e4);
}


/* Media queries */

@media all and (max-width: 1050px) {
    .container {
        grid-template-columns: 1fr;
    }
    .intro {
        width: 100%;
    }
    header {
        flex-direction: column;
    }
    .date,
    .logo {
        margin: 0 auto;
    }
    img {
        max-width: 100%;
    }
}