@page
@model ErrorModel
@{
    ViewData["Title"] = "Fel";
}

<h1 class="text-danger">Fel.</h1>
<h2 class="text-danger">Ett fel inträffade.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}


