@page
@model IndexModel
@{
    ViewData["Title"] = "Startsida";
}
<!-- Main content -->
<div class="intro">
    <h2>Startsida</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pulvinar sem pulvinar vehicula fermentum.
        Praesent volutpat cursus sem, et ultrices diam euismod nec. Quisque id orci blandit, tincidunt metus sit amet,
        blandit neque. Quisque vitae blandit diam. Nulla mattis et leo vitae sollicitudin. Proin malesuada magna nec
        elementum facilisis. Mauris at elit nibh.<br><br>

        Duis tortor leo, iaculis sit amet tellus non, congue tempor nisi. Vivamus congue nisl eros, eget scelerisque
        mauris mollis vitae. Aenean venenatis diam et pharetra euismod. Etiam mollis nec dolor sed feugiat. Sed sed
        scelerisque urna. Sed semper vel nisi id tincidunt. Aliquam rhoncus elementum laoreet. Duis vehicula ante at
        dapibus vestibulum. Phasellus ultrices, tortor quis vulputate lobortis, sapien enim euismod dui, volutpat
        eleifend arcu est a velit.<br><br>

        Integer in tincidunt tellus, a ullamcorper justo. Cras tempus sed tellus nec egestas. Pellentesque id lobortis
        mauris. Suspendisse potenti. Etiam pellentesque risus ac ante facilisis, et ornare lorem mattis. Suspendisse id
        aliquam dui. Maecenas vehicula dignissim nunc, ut ultricies nisl porttitor a. Maecenas sed sagittis mauris.<br><br>

        Donec a volutpat leo, a pulvinar ante. Ut euismod ante enim, et porta risus consectetur eu. Sed vehicula lacus
        commodo justo malesuada, blandit tincidunt sapien rutrum. Sed scelerisque at lectus nec hendrerit. In euismod
        sollicitudin mattis. Suspendisse facilisis elit quis arcu semper sagittis. Praesent sem ante, malesuada ac erat
        nec, iaculis aliquam tortor. Curabitur volutpat non tellus non lacinia. Aliquam bibendum, sapien id dapibus
        condimentum, turpis nulla volutpat lectus, et auctor ipsum augue eu nisl. Curabitur pulvinar dictum lacus vitae
        convallis. Phasellus interdum aliquet mi, et fermentum neque dictum non. Donec vestibulum dolor ac luctus
        volutpat.</p>
</div>
