@page
@model MyApp.Namespace.omsidanModel
@{
    ViewData["Title"] = "Om sidan";
}

<!-- Main content -->
<h2>Om sidan</h2>

<p>Mitt namn är Marcus Nygård och denna hemsida har jag gjort med Razor Pages.</p>
<br>
<p>Här är en söt bild på min och min sambos valp</p>
<br>
<img src="valp.jpg" alt="Bild på en söt taxvalp">